@page
@model WebMVC.Pages.LinksModel
@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.links</h3>
<table>
    <tr><td>Friend Links</td></tr>
    @foreach( var link in Model.friendLinks){

        <tr><td>@link</td></tr>
    }
</table>

